@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.image-slider__container {
    margin: 0 auto;
}

.image-slider__wrapper {
    position: relative;
    height: 100%;
}

.slide-image {
    margin-top: 2px;
    width: 1505px;
    height: 450px;
    object-fit: cover;
}

.image-slide__arrow-left {
    position: absolute;
    top: 230px;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: #ffffff;
    z-index: 1;
    cursor: pointer;
}

.image-slide__arrow-right {
    position: absolute;
    top: 230px;
    transform: translate(0, -50%);
    right: 22px;
    font-size: 45px;
    color: #ffffff;
    z-index: 1;
    cursor: pointer;
}

.dots__container {
    display: flex;
    justify-content: center;
}

.dots {
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
}

.arrow-left,
.arrow-right {
    width: 60px;
    height: 60px;
}

.dot-image {
    width: 35px;
    height: 35px;
}

.image-slide__description-heading {
    position: absolute;
    top: 20px;
    left: 210px;
    color: #ffffff;
    font-family: "Italianno", cursive;
    font-weight: 800;
    font-size: 75px;
    text-align: center;
}