.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 2.5rem;
    color: white;
    z-index: 1;
}

.hero p {
    font-size: 1.2rem;
    color: white;
    margin: 1rem 0;
    z-index: 1;
}

.cta {
    background: #e6af69;
    border: none;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}

.cta:hover {
    background: #c88342;
    transform: scale(1.05);
}

.hero-bg {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.8;
    width: 100%;
    height: 97%;
    z-index: -9999;
}