@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.sign-up__btn {
    border: none;
    background: transparent;
    padding: 6px 16px;
    font-size: 25px;
    color: #a57b42;
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    font-family: "Italianno", cursive;
}

.sign-up__btn:hover {
    color: #232323;
    background: #ffffff;
}

.navbar__items-list {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
    margin-right: 2rem;
}

.social-networks__button {
    border: none !important;
    background: transparent !important;
}

.social-networks__button:hover a {
    opacity: 0.4;
}

#instagram-button-image {
    width: 39px;
    height: 39px;
}

#tiktok-button-image {
    width: 45px;
    height: 45px;
}

#telegram-button-image {
    width: 45px;
    height: 45px;
}

#facebook-button-image {
    width: 41px;
    height: 41px;
}