.contact {
    padding: 3rem 2rem;
    height: 500px;
    background: #ffdab4;
    text-align: center;
    position: relative;
    z-index: 1;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
}

.contact input,
.contact textarea {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 1;
}

.contact button {
    background: #aa6f1d;
    border: none;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}

.contact button:hover {
    background: #c88342;
}

.contact span {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    z-index: 999 !important;
}

.contact-bg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -9999;
}