.animated-tabs__container {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.animated-tabs__wrapper {
    height: 100vh;
    background: radial-gradient(circle at top, #0d0d0d, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-tabs__nav {
    position: relative;
    width: 2100px;
    padding: 10px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 12px;
}

.animated-tabs__nav-link {
    position: relative;
    padding: 10px 16px;
    font-size: 16px;
    color: #615e5e;
    z-index: 1;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: color 0.3s;
    background: none;
    border: none;
    cursor: pointer;
}

.animated-tabs__nav-link.active {
    color: #ffffff;
    font-weight: 600;
}

.slider {
    position: absolute;
    margin-left: 17px;
    top: -3px;
    bottom: -3px;
    z-index: 0;
    background: linear-gradient(135deg, #ff0080, #ff8c00);
    box-shadow: 0 0 30px rgba(255, 0, 128, 0.6),
    0 0 40px rgba(255, 140, 0, 0.5);
    border-radius: 12px;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.animated-tabs__nav__wrapper {
    position: relative;
}

.animated-tabs__nav-img {
    position: absolute;
    z-index: 10000;
    top: 40px;
    left: 40px;
    width: 10px;
    height: 10px;
}

#animated-tabs__nav-img-1 {
    position: absolute;
    top: 1px;
    left: 0;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-2 {
    position: absolute;
    top: 2px;
    left: 100px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-3 {
    position: absolute;
    top: 2px;
    left: 186px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-4 {
    position: absolute;
    top: 2px;
    left: 276px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-5 {
    position: absolute;
    top: 2px;
    left: 383px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-6 {
    position: absolute;
    top: 4px;
    left: 506px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-7 {
    position: absolute;
    top: 1px;
    left: 644px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-8 {
    position: absolute;
    top: 3px;
    left: 760px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-9 {
    position: absolute;
    top: 3px;
    left: 929px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-10 {
    position: absolute;
    top: 3px;
    left: 1129px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-11 {
    position: absolute;
    top: 3px;
    left: 1287px;
    width: 30px;
    height: 30px;
}

#animated-tabs__nav-img-12 {
    position: absolute;
    top: 3px;
    left: 1419px;
    width: 30px;
    height: 30px;
}


